.Chart{
    min-height: 220px;
    height: 40vh;
    padding: 1rem;
    background-color: #C7C7CC;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: 0.75s ease-in-out;
}