.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #E9C46A;
  box-shadow: 0px 0px 0px 1px #E9C46A;
}

.header-left {
  color: #E76F51;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

label {
  font-size: x-large;
  font-weight: 600;
  margin-right: 10px;
}

select {
  height: 33px;
  font-size: 16px;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #F4A261;
  border-radius: 5px;
}


button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #F4A261;
  color: white;
  border: none;
  border-radius: 5px;
  height: 33px;
}
